@use '@/styles/abstracts' as *;

.notesDisplay {
	text-align: center;
	margin: 0 $rem-l;

	.heading {
		display: inline;
	}

	.flatNote {
		white-space: nowrap;

		.flatSymbol {
			display: inline-block;
			margin-top: -$rem-xs;
			vertical-align: middle;
		}
	}

	@include breakpoint(medium) {
		font-size: $rem-l;

		.flatSymbol {
			font-size: 0.7em;
			margin-left: -0.4rem;
			margin-top: -0.7rem;
		}
	}
}
