@use '@/styles/abstracts' as *;

.nav {
	background: $color-blue-light;
	font-size: $rem-xl;
	// total height minus header height
	height: calc(100% - 4.5rem);
	padding: $rem-l;
	position: fixed;
	right: -100%;
	bottom: 0;
	transition: right 0.5s ease;
	width: 100%;
	z-index: 100;

	ul {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: $rem-m;
		height: 100%;
		justify-content: center;
		list-style: none;
	}

	&.open {
		right: 0;
	}

	&.closed {
		right: -100%;
	}
}
