@use '@/styles/abstracts' as *;

.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: $rem-xs;

	.mainItems {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 0 $rem-s;
		width: 100%;

		.buttonsContainer {
			display: flex;
		}
	}
}
