@use '@/styles/abstracts' as *;

.header {
	align-items: center;
	display: flex;
	flex-direction: column;
	z-index: 100;

	.mainItems {
		align-items: center;
		display: flex;
		height: 4.5rem;
		justify-content: space-between;
		padding: 0 $rem-s;
		width: 100%;

		h1 {
			font-size: $rem-s;
		}

		.buttonsContainer {
			display: flex;
		}
	}

	@include breakpoint(medium) {
		.mainItems {
			h1 {
				font-size: $rem-m;
			}
		}
	}

	@include breakpoint(large) {
		.mainItems {
			h1 {
				font-size: $rem-l;
			}
		}
	}
}
