@use '@/styles/abstracts' as *;

.key {
	align-items: flex-end;
	box-shadow: 0 $size-s $size-m rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	padding-bottom: $rem-m;
	transition:
		box-shadow 0.1s ease,
		padding-bottom 0.1s ease;

	&:disabled {
		cursor: default;
	}

	&.white {
		background: $color-white;
		border: 1px solid $color-black;
		color: $color-black;
		font-size: 0.8rem;
		height: 100%;
		width: 100%;

		&.keyboardFull {
			border-right: none;
		}

		&.highlight {
			color: darken($color-blue, 15%);
		}

		&.active {
			color: $color-blue-dark;
			font-weight: 700;
		}

		&:hover {
			background-color: darken($color-white, 5%);
		}
	}

	&.black {
		background: $color-black;
		border: 0.5px solid $color-black;
		color: $color-white;
		font-size: 0.7rem;
		height: 65%;
		margin: 0 $margin-black-key;
		width: 80%;
		z-index: 1;

		&.keyboardFull {
			letter-spacing: -0.12em;

			&.highlight {
				color: lighten($color-blue-light, 5%);
			}
		}

		&.highlight {
			color: $color-blue-light;
		}

		&.active {
			color: $color-blue;
			font-weight: 700;
		}

		&:hover {
			background-color: lighten($color-black, 12%);
		}
	}

	&.keyboardSelected {
		font-size: $rem-s;

		.flatSymbol {
			font-size: $rem-s;
			padding-bottom: 0.2rem;
		}
	}

	&.highlight {
		padding-bottom: $rem-l;
	}

	&.active {
		box-shadow: inset 0 $size-xs $size-s rgba(0, 0, 0, 0.3);
		padding-bottom: 1.2rem;
	}

	// the highlighted keys have a slightly larger difference in padding
	// than regular keys for a more visible pressing effect
	&.highlight.active {
		padding-bottom: $rem-m;
	}

	@include breakpoint(medium) {
		&.keyboardSelected {
			font-size: $rem-l;

			&.black {
				letter-spacing: -0.12em;

				.flatSymbol {
					font-size: $rem-m;
					margin-left: -0.1rem;
					padding-bottom: $rem-xs;
				}
			}
		}
	}
}
