@use '@/styles/abstracts' as *;

.tooltipContainer {
	display: inline-block;

	.tooltipTextContainer {
		padding-top: $size-s;
	}

	.tooltipText {
		background-color: $color-blue-darkest;
		border-radius: $size-xs;
		color: $color-white;
		opacity: 0;
		padding: $size-s;
		position: absolute;
		visibility: hidden;
		width: 10rem;
		z-index: 1;

		&.positionedLeft {
			left: auto;
			right: 0;
		}

		&.isVisible {
			opacity: 1;
			visibility: visible;
		}

		@include breakpoint(large) {
			width: 7rem;
		}
	}

	&.tooltipDefault {
		position: absolute;

		.infoIcon {
			align-items: center;
			background-color: $color-white;
			border: 1px solid $color-blue-darkest;
			border-radius: 50%;
			display: flex;
			height: $rem-s;
			justify-content: center;
			outline: none;
			transition: background-color 0.3s;
			width: $rem-s;

			svg {
				fill: $color-blue-darkest;
				transition: fill 0.3s;
			}

			&.tooltipShowing, // consistent style when hovering over tooltip text
			&:hover,
			&:focus {
				background-color: $color-blue-dark;

				svg {
					fill: $color-white;
				}

				+ .tooltip {
					visibility: visible;
				}
			}
		}
	}
}
