@use '@/styles/abstracts' as *;

.octave {
	display: flex;
	width: 100%;

	&.keyboardFull {
		border: 1.5px solid $color-black;
		height: 35vh;

		&:first-child {
			border-left: 3px solid $color-black;
		}

		&:last-child {
			border-right: $size-xs solid $color-black;
		}
	}

	&.keyboardSelected {
		border: 1px solid $color-black;
		height: 55vh;
		justify-content: center;

		@include breakpoint(large) {
			height: 40vh;
			width: 80%;
		}
	}
}
