@use '@/styles/abstracts' as *;

.keyboardSelected {
	display: flex;
	flex-direction: column;

	.keysAndControlsContainer {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		justify-content: center;
		padding: 1rem;

		@include breakpoint(large) {
			flex-direction: row;
		}
	}

	.notesPlayedContainer {
		font-size: 2rem;
		font-weight: 400;
		text-align: center;
		margin: 0 2rem;
	}

	.flatSymbol {
		display: inline-block;
		font-size: 0.7em;
		margin-left: -0.4rem;
		margin-top: -0.7rem;
		vertical-align: middle;
	}
}
