@use '@/styles/abstracts' as *;

.about {
	font-size: $rem-m;
	padding: $rem-l $rem-xxl;

	section {
		padding-bottom: $rem-l;
	}

	h2 {
		color: $color-blue-dark;
		font-size: $rem-xxl;
	}

	h3 {
		color: $color-blue-darkest;
		font-size: $rem-l;
	}

	p,
	ul {
		list-style: none;
		padding: $rem-s 0;
	}

	li {
		padding-bottom: $rem-xs;
	}

	.flatSymbol {
		font-size: 0.7em;
		margin-left: -0.2rem;
	}

	@include breakpoint(large) {
		padding: $rem-s 5rem;

		section {
			padding-bottom: $rem-s;
		}

		p {
			width: 85%;
		}

		li {
			width: 70%;
		}
	}
}
