@use '@/styles/abstracts' as *;

.about {
	font-size: $rem-s;
	padding: $rem-xs $rem-xl;

	section {
		padding-bottom: $rem-l;
	}

	h2 {
		color: $color-blue-dark;
	}

	h3 {
		color: $color-blue-darkest;
	}

	p,
	ul {
		list-style: none;
		padding: $rem-xs 0;

		svg {
			height: $rem-s;
			width: $rem-s;
		}
	}

	li {
		padding-bottom: $rem-xs;
	}

	.flatSymbol {
		font-size: 0.7em;
		margin-left: -0.2rem;
	}

	@include breakpoint(large) {
		font-size: $rem-m;
		padding: $rem-s 5rem;

		section {
			padding-bottom: $rem-s;
		}

		h2 {
			font-size: $rem-xl;
		}

		h3 {
			font-size: $rem-l;
		}

		p {
			width: 85%;
		}

		li {
			width: 70%;
		}

		p,
		ul {
			padding: $rem-s 0;
		}
	}
}
