@use '@/styles/abstracts' as *;

.icon {
	display: inline-block;
	vertical-align: middle;

	&.x-small {
		height: $rem-s;
		width: $rem-s;
	}

	&.small {
		height: $rem-l;
		width: $rem-l;
	}

	&.medium {
		height: 2.75rem;
		width: 2.75rem;
	}

	&.large {
		height: 3.25rem;
		width: 3.25rem;
	}
}
