.dropdown {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;

	.label {
		font-size: 20px;
		font-weight: 700;
	}

	.select {
		background-color: transparent;
		border-radius: 4px;
		text-align: center;
	}
}
