@use '@/styles/abstracts' as *;

.dropdown {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 1rem;

	&:hover {
		.select {
			background-color: $color-white;
		}
	}

	.label {
		font-size: 20px;
		font-weight: 700;
		text-align: center;
	}

	.select {
		background-color: transparent;
		border-radius: 4px;
		cursor: pointer;
		text-align: center;

		&:disabled {
			cursor: default;
		}
	}
}
