@use '@/styles/abstracts' as *;

.keyboardSettings {
	display: flex;
	flex-wrap: wrap;
	gap: $rem-s $rem-xxl;
	justify-content: center;
	padding: $rem-xs $rem-m;

	.dropdownContainer {
		margin-bottom: $rem-xs;

		@include breakpoint(medium) {
			flex: 0 1 30%;
		}

		@include breakpoint(large) {
			flex-basis: auto;
			padding: 0 $rem-xs;
		}
	}

	@include breakpoint(medium) {
		gap: $rem-m $rem-l;
	}
}
